* {
    padding: 0;
    margin: 0;
}

body {
    background: #1f4037;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#tablatura {
    margin-left: 10%;
}

.cuerda {
    border: 0px solid black;
    width: 1%;
    height: 400px;
    float: left;
    background: url(../img/cuerdaPulsada.jpg);
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px 5px black;
}

.espacio {
    background: url(../img/fondo.jpg);
    width: 11%;
    height: 400px;
    border: 0px solid black;
    float: left;
}